body{
    background-color: rgb(213, 249, 255);
    color: rgb(255, 255, 255);
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    top: 0; 
    width: 100%;
    transition-duration: 500ms;
    

}
nav.sticky{
    color: rgb(0, 255, 242);

    position: sticky; 
}

nav.sticky #bottomnav{
    background: rgb(255,93,0);
    background: linear-gradient(155deg, rgba(255,93,0,1) 11%, rgba(106,160,128,1) 63%, rgba(0,254,255,1) 100%);
    height: 5px;
    opacity: 0.5;
    color: transparent;
}
#topnav{
    display: flex;
    height: 100px;
    background-color: rgb(31, 31, 31);
    transition-duration: 600ms;

}
#topnav ul{
    display: flex;
    justify-content: space-evenly;
    width: 140vh;
}
#topnav ul li{
    padding: 1em;
    list-style: none;
}
#topnav ul li a {
    color: white;
    font-size: large;
    text-decoration: none;
    transition-duration: 100ms;
    padding: 10px;
}
#topnav ul li a:hover{
    
    color: rgb(0, 255, 242);
}
nav.sticky #topnav{
    height: 60px;

}
#topnav img{
    transition-duration: 500ms;

}
nav.sticky #topnav img{
    -webkit-filter: invert();

}
.rightnav{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

input{
    border: none;
    border-bottom: 3px solid grey;
    border-color: rgb(110, 110, 110);
    width: 20em;
    height: 3em;
    color: white;
    padding: 5px;
    margin-left: auto;
    background-color: inherit;
    

}
input:focus{
    outline-width: 0px;
}
#bottomnav{
    background-color: rgb(63, 63, 63);
    height: 20px;
    text-align:center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 1em;
    
}

.container{
    margin-top: 40px;
    margin: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 20em 20em auto;
    grid-template-rows: 10em 20em 20em;
    grid-template-areas:
    "main main main"
    "section section2 lastarea"
    "section3 section4 lastarea"; 
}

.box1{
    background-color: rgb(78, 78, 78);;
    background: url(./assets/mount-everest-summit-climbers-getty.jpg);
    background-position: center;
    grid-area: main;
    padding: 3vh;
}
.box2{
    background-color: rgb(78, 78, 78);
    background: url(./assets/Best_ski_googles_2-1200x520.jpg);
    grid-area: section;
}
.box3{
    background-color: rgb(78, 78, 78);;
    background: url(./assets/Ski\ Goggle\ \(Smith\ I_O\ Mag\ closeup\)\ \(m\).jpg);
    background-position: right;
    grid-area: section2;
}
.box4{
    background-color: rgb(78, 78, 78);;
    background: url(./assets/photo-1612964627570-769abf00d41f.jfif);
    background-position: left;
    grid-area: section3;
}
.box5{
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    background-color: rgb(255, 0, 0);;
    grid-area: section4;
}
.box5 img{
    overflow: hidden;
    margin-top: 25px;
    width: 260px;
    height: 260px;
    transition-duration: 1000ms;
}
.box6{
    background: url(./assets/marcel-hirscher-colours-making-of.jfif);
    background-color: rgb(78, 78, 78);;
    grid-area: lastarea;
}

footer{
    margin-top: 30px;
    height: 40em;
    width: auto;
    background-color: rgb(221, 219, 219);
}
.bottom{
    color: grey;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
